
.normal-text{
    font-family: 'Roboto Mono', monospace;
}

.header-text{
    font-family: 'Antonio', sans-serif;
}

.accent-text{
    color : #5A82AC;
}

body{
    color : white;
    background: linear-gradient(90deg, #57176E 0%, #3A063F 100%);
    overflow-x: hidden;
    width: 100vw;
    font-family: 'Roboto Mono', monospace;

}

@tailwind base;
@tailwind components;
@tailwind utilities;
